* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8fafc;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}